/tab2010_tab2020_st55_wi.txt
/tl_2020_55_tabblock20
/tl_2010_55_bg10
/tl_2020_55_bg
/tl_2020_55_vtd20
/County_Boundaries_24K
/Wisconsin_Congressional_Districts_2011_(LTSB)
/wi_cluster_db_20210809.pkl
/wi_cluster_db_20210820.pkl
/wi_cluster_db_20210901.pkl
/wi_cluster_db_20210911.pkl
/wi_submissions_20210820_no_media_markets.csv
/wi_submissions_20210901_no_media_markets.csv
/wi_submissions_20210911_no_media_markets.csv
/WI_phaseB_2021911.csv
/WI_phaseC_20210924.csv
/WI_phaseC_20210929.csv
/WI_phaseC_20210929_fixed.csv
/WI_2020_wards
/wi_ward_2020_graph.json
/tl_2020_55_tabblock20.json
/wi_2020_blocks_county_block_exclude.json
/WI_20210901_geo40_cluster_B1_annotations.jsonl
/WI_20210901_geo40_cluster_B7_annotations.jsonl
/WI_20210901_geo40_cluster_B8_annotations.jsonl
/WI_20210901_geo40_cluster_B14_annotations.jsonl
/WI_20210901_geo40_cluster_B19_annotations.jsonl
/tl_2020_55_block_total_pop.json
/tl_2010_55_bg_total_pop.json
/BlockAssign_ST55_WI
/wi_vtds_0_indexed.json
/BlockAssign_ST55_WI
